# Le fichier YAML est à compléter
name: Demo GitHub Actions
on: [push]
jobs:
    build:
        if: github.repository != 'feature/*'
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up Node.js
              uses: actions/setup-node@v4
              with:
                node-version: '18'
            
            - name: Install dependencies
              run: npm install
            
            - name: Run tests
              run: npm test

            - run: mkdir -p dist/
            - run: echo "BUILDING" > dist/build.txt

            - name: Upload artifact
              uses: actions/upload-artifact@v4
              with:
                name: build-artifact
                path: dist/build.txt
            
            - run: echo "Success message"
            
            - name: Check and update badges
              uses: lucasvanmol/status-badges@v1
              with:
                path: "README.md"
                token: ${{ secrets.GITHUB_TOKEN }}
    lint:
        if: github.repository != 'feature/*'
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Check ESLint
              run: npx eslint .